t.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/xcschememanagement.plist
t.xcodeproj/xcuserdata/batth.xcuserdatad/xcschemes/Slindir.xcscheme
t.xcodeproj/xcuserdata/batth.xcuserdatad/xcschemes/xcschememanagement.plist
t.xcodeproj/xcuserdata/deftdesk.xcuserdatad/xcschemes/xcschememanagement.plist
t.xcodeproj/xcuserdata/deftdesksol.xcuserdatad/xcschemes/Slindir.xcscheme
t.xcodeproj/xcuserdata/deftdesksol.xcuserdatad/xcschemes/xcschememanagement.plist
t.xcodeproj/xcuserdata/fredfcovely.xcuserdatad/xcschemes/xcschememanagement.plist
t.xcodeproj/xcuserdata/gill.xcuserdatad/xcschemes/xcschememanagement.plist
t.xcodeproj/xcuserdata/harsh.xcuserdatad/xcschemes/Slindir.xcscheme
t.xcodeproj/xcuserdata/harsh.xcuserdatad/xcschemes/xcschememanagement.plist
t.xcodeproj/xcuserdata/osx.xcuserdatad/xcschemes/xcschememanagement.plist
